<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <img src="/assets/logo1.png" width="150">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-9">
            <div >
                <p class="entete">
                    <a (click)="goToPage('connexion')">
                        <mat-icon class="iconentete" style="color: red;">power_settings_new</mat-icon>
                    </a>
                </p>
            </div><br><br>
        </div>
    </div>
    <div class="container  topBotomBordersIn">
        <a routerLink="/homecandidat">ACCEUIL</a>

    </div>

    <br><br><br><br>


    <mat-form-field class="px-16" style="width: 30%">
        <input matInput #filter placeholder="Search..."  id="listSearch" autocomplete="off"
            style="width: 100%">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div class="table-wrapper">

    </div>
</div>